<div class="w-50 mx-auto my-5">
    @if(apiErr){
    <div class="alert alert-danger mb-1" role="alert">
      {{ apiErr }}
    </div>
    }
  
    <form [formGroup]="RegisterForm" (ngSubmit)="Register()">
      <div class="form-floating mb-3">
        <input formControlName="email" class="form-control mb-2" id="email" />
        <label for="email">Email</label>
        @if(RegisterForm.get('email')?.errors &&
        RegisterForm.get('email')?.touched){
        <div class="alert alert-danger mb-1" role="alert">
          @if(RegisterForm.get('email')?.hasError('required')){
          <p class="m-0">Email is required</p>
          } @else if(RegisterForm.get('email')?.hasError('email')) {
          <p class="m-0">email is not invalid</p>
          }
        </div>
        }
      </div>
      <div class="form-floating mb-3">
        <input
          formControlName="password"
          class="form-control mb-2"
          id="password"
          type="password"
        />
        <label for="Password">Password</label>
        @if(RegisterForm.get('password')?.errors &&
        RegisterForm.get('password')?.touched ){
        <div class="alert alert-danger mb-1" role="alert">
          @if(RegisterForm.get('password')?.hasError('required')) {
          <p class="m-0">Required</p>
          }@else if(RegisterForm.get('password')?.hasError('pattern')){
          <p class="m-0">Invalid</p>
          }
        </div>
        }
      </div>
      <div class="form-floating mb-3">
        <input
          formControlName="repassword"
          class="form-control mb-2"
          id="repassword"
          type="password"
        />
        <label for="repassword">Confirm Password</label>
        @if(RegisterForm.get('repassword')?.errors &&
        RegisterForm.get('repassword')?.touched ){
        <div class="alert alert-danger mb-1" role="alert">
          @if(RegisterForm.get('repassword')?.hasError('required')) {
          <p class="m-0">Required</p>
          }@else if(RegisterForm.get('repassword')?.hasError('misMatch')){
          <p class="m-0">password should match Confirm password</p>
          }
        </div>
        }
      </div>
      <!-- [disabled]="!RegisterForm.valid" -->
      <button class="btn btn-secondary w-100">Login</button>
    </form>
  </div>
  