<aside class="Nav_Side col-md-3 col-lg-2 bg-light sidebar p-3 flex-shrink-0">
  <nav class="">
    <ul class="nav flex-column m-2">
      <li class="nav-item d-flex flex-column gap-3">
        <a routerLink="history" class="nav-link btn btn-primary w-100 mr-auto"
          >history</a
        >
        <a routerLink="myorders" class="nav-link btn btn-primary w-100 mr-auto"
          >progress</a
        >
        <a routerLink="available" class="nav-link btn btn-primary w-100 mr-auto"
          >Rceived Orders</a
        >
      </li>
    </ul>
  </nav>
</aside>
